@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Ephesis&family=Montserrat:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Raleway:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

/*---- navigation section -----*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background: #090;
  padding: 0 20px;
}
.logo a {
  font-size: 30px;
  color: #e0e00a;
  font-family: 'Calligraffitti', cursive;
  font-weight: bolder;
}
.logo a:hover {
  color: #900;
  font-size: 32px;
}
.nav-link {
  margin: 0 10px;
  color: #333;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.nav-link:hover {
  color: #e0e00a;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  nav {
    display: flex;
    flex-direction: column;
    height: 60px;
    align-items: center;
    justify-content: center;
    padding: 30px auto;
  }
  .logo a{
    font-size: 30px;
  }
  .nav-link {
    font-size: 12px;
    margin: 0 5px;
  }
}



/*---- welcome section ----*/
.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: 80vh;
  width: 100%;
  text-align: center;
  background: #dce35b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #45b649,
    #dce35b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #45b64977, #dce35b77),
    url(https://images.pexels.com/photos/5997115/pexels-photo-5997115.jpeg?cs=srgb&dl=pexels-monstera-5997115.jpg&fm=jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}
.welcome-section h1 {
  margin-top: 20px;
  font-size: 60px;
  color: #000;
  text-shadow: 2px 2px 1px #333;
  font-family: 'Open Sans', sans-serif;
}
.welcome-section p {
  font-size: 20px;
  padding: 10px 10%;
  text-shadow: 1px 1px 1px #333;
  width: 100%;
}
.button-container {
  margin-top: 30px;
}
.btn1,
.btn2 {
  margin: 10px 10px;
  height: 40px;
  width: 250px;
  border: 2px solid #e0e00a;
  font-size: 15px;
  border-radius: 60px;
  color: #fff;
  transition: transform 0.3s ease-in;
}
.btn1 {
  background: #00aa00;
}
.btn1:hover {
  background: #030;
  color: #e0e00a;
  transform: translateY(8px);
}
.btn2 {
  background: #aa0000;
}
.btn2:hover {
  background: #500;
  color: #e0e00a;
  transform: translateY(8px);
}
@media screen and (max-width: 480px) {
  .welcome-section h1 {
    font-size: 35px;
  }
.welcome-section p {
    font-size: 20px;
    padding: 10px 10px;
    width: 90%;
}
}


/*---- what we do section ----*/
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  border-bottom: 5px solid #a70505;
}
.services h2 {
  font-size: 40px;
  margin: 10px auto;
  border-bottom: 5px solid #a70505;
  width: 80%;
}
.services p {
  margin: 10px auto;
  width: 80%;
}
.grid-container {
  display: grid;
  height: 60vh;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin: 10px auto;
}
.grid-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
  border: 1px solid #3ca55c;
  border-radius: 10px;
  margin: 0 10px;
}
.grid-column:hover {
  background: #dd0;
  cursor: pointer;
}
.grid-column p {
  margin: 15px 8px;
}
.fas {
  margin: 20px auto;
}
@media screen and (max-width: 480px) {
  .services h2 {
    font-size: 20px;
    margin: 10px auto;
    width: 80%;
  }
  .grid-container {
    grid-gap: 20px;
    margin: 50px 10%;
  }
  .grid-column {
    padding: 20px;
    height: 50vh;
  }
  .grid-column p {
    margin: 5px 8px;
  }
  
}




/*---- testimonials section ----*/
.testimonials {
  margin: 0 auto;
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(250, 247, 247);
}
.testimonials h3 {
  margin: 20px auto;
}
.testimonials p {
  padding: 10px 50px;
  text-align: center;
}







/*------- footer section styling --------*/

footer {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 150px;
  width: 100%;
  background: #090;
  border-top: 5px solid yellow;
}

footer > p {
  margin-top: 30px;
  color: yellow;
  font-size: 30px;
  text-shadow: 3px 3px 3px #1f1f1f;
}
.footer-btn-container {
  margin: 30px auto;
}
.footer-btn {
  padding: 10px 20px;
  width: auto;
  height: 50px;
  border: 3px solid white;
  background: #333;
  color: white;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  transition: transform 0.3s ease-out;
  text-shadow: 3px 3px 3px #1f1f1f;
}
.footer-btn a {
  text-decoration: none;
  color: white;
}

/*
.footer-btn:hover {
  color: #000;
  background: #c31432;
  transform: translateX(5px);
  text-shadow: 3px 3px 3px #1f1f1f;
}
*/

@media screen and (max-width: 480px) {
  footer > p {
    font-size: 12px;
  }
}
